.car-showcase {
  display: flex;
  /* gap: 20px; */
  /* margin-top: 30px; */
  margin: 50px auto 0;
  column-gap: 4%;
}

.card-list-text {
  color: #262427;
  font-family: "Bitter", Sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
/* 
.car-showcase-container {
  display: flex;
} */
@media (max-width: 991px) {
  .car-showcase {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}
.car-card {
  flex: 1;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.26);
  border: 1px solid rgba(67, 74, 86, 1);
  border-width: 1px 0;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  padding: 21px 10px 11px;
}
@media (max-width: 991px) {
  .car-card {
    margin-top: 35px;
  }
}
.car-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.car-image {
  aspect-ratio: 1.33;
  object-fit: cover;
  width: 100%;
  max-width: 217px;
}
.car-name {
  margin-top: 38px;
  color: #1b1b1b;
  text-align: center;
  letter-spacing: -0.5px;
  font: 500 25px/25px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}
.car-specs {
  margin-top: 32px;
}
.spec-item {
  display: flex;
  gap: 20px;
  font-size: 11px;
  color: #696969;
  font-weight: 400;
  letter-spacing: -0.22px;
  line-height: 11px;
  margin-bottom: 24px;
}
.spec-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}
.spec-text {
  margin: auto 0;
  font-family: Inter, sans-serif;
}
.price-button {
  border-radius: 100px 0;
  background-color: #383434;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 60px;
  font: 700 12px/1 Inter, -apple-system, Roboto, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
}
@media (max-width: 991px) {
  .price-button {
    padding: 20px;
  }
}
